<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="myFirstJavaProjectV1">

	<listeners>
		<listener class-name = "com.myFirstJavaProjectV1.utilities.Reporting"/>
	</listeners>
	
	<test name="Login Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.myFirstJavaProjectV1.testCases.TC_LoginTest_001" />
			<!--  <class name="com.myFirstJavaProjectV1.testCases.TC_LoginTestDataDriven_002" /> -->
			<class name="com.myFirstJavaProjectV1.testCases.TC_AddNewCustomer_003" />
		</classes>
	</test>
</suite>